ion-avatar {
  background-color: var(--ion-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.large-avatar-text {
  /* This ensures the letter is perfectly centered */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}