<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Messages</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar
      placeholder="Search @handle"
      (ionInput)="onSearch($event)"
      [debounce]="300"
      animated="true"
      class="custom-search"
    ></ion-searchbar>
  </ion-toolbar>

  <ion-toolbar color="primary" class="dashboard-toolbar">
    <div class="my-stuff-bar header-embedded">
      <div class="stuff-item" (click)="openTodoModal()">
        <div class="icon-circle">
          <ion-icon name="checkbox-outline" style="color: #fdcb6e"></ion-icon>
        </div>
        <span>To-Do</span>
      </div>
      <div class="stuff-item" (click)="openMindMap()">
        <div class="icon-circle">
          <ion-icon
            name="git-network-outline"
            style="color: #6c5ce7"
          ></ion-icon>
        </div>
        <span>Mind Map</span>
      </div>

      <div class="stuff-item" (click)="openMoney()">
        <div class="icon-circle">
          <ion-icon name="cash-outline" style="color: #00b894"></ion-icon>
        </div>
        <span>Money</span>
      </div>

      <div class="stuff-item" (click)="openVault()">
        <div class="icon-circle">
          <ion-icon
            name="lock-closed-outline"
            style="color: #ff7675"
          ></ion-icon>
        </div>
        <span>Vault</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (searchResults.length > 0) { ... }

  <ion-list-header class="section-title">
    <ion-label>Recent Conversations</ion-label>
  </ion-list-header>

  <ion-list lines="none" class="chat-list-container">
    @for (chat of personalChats; track chat.room_id) {
    <ion-item
      (click)="goToChat(chat)"
      [button]="true"
      detail="false"
      class="chat-card"
    >
      <ion-avatar slot="start" [class]="chat.vibe">
        @if (chat.profiles?.avatar_url) {
        <img [src]="chat.profiles.avatar_url" />
        } @else {
        <div class="initials-avatar">
          {{ getInitials(chat.profiles?.username) }}
        </div>
        }
      </ion-avatar>

      <ion-label>
        <div class="chat-label-container">
          <div class="name-row">
            <h2>
              @{{ chat.profiles?.username }} @if (chat.vibeLabel) {
              <span class="vibe-tag" [class]="chat.vibe"
                >{{ chat.vibeLabel }}</span
              >
              }
            </h2>
            @if (chat.lastMsgDate && !typingStates[chat.room_id]) {
            <ion-note>{{ chat.lastMsgDate | date:'shortTime' }}</ion-note>
            }
          </div>

          @if (typingStates[chat.room_id]) {
          <p class="typing-text">typing...</p>
          } @else {
          <p class="last-message">
            {{ chat.lastMsgText || 'Start a conversation' }}
          </p>
          }
        </div>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  <ion-modal
    [isOpen]="isTodoModalOpen"
    (didDismiss)="isTodoModalOpen = false"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.5, 0.9]"
    handleBehavior="cycle"
  >
    <ng-template>
      <div class="modal-wrapper">
        <ion-header class="ion-no-border">
          <ion-toolbar>
            <ion-title>My Schedule ({{ todos.length }})</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="isTodoModalOpen = false" strong="true"
                >Done</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content class="ion-padding custom-scroll">
          <div class="sticky-input">
            <ion-item lines="none" class="task-input-item">
              <ion-input
                placeholder="What needs to be done?"
                [(ngModel)]="newTask"
                (keyup.enter)="addNewTask()"
              >
              </ion-input>

              <ion-datetime-button
                slot="end"
                datetime="todo-picker"
              ></ion-datetime-button>
            </ion-item>

            <ion-modal [keepContentsMounted]="true" [focusTrap]="false">
              <ng-template>
                <ion-datetime
                  id="todo-picker"
                  presentation="date-time"
                  [(ngModel)]="selectedDate"
                >
                </ion-datetime>
              </ng-template>
            </ion-modal>

            <ion-button expand="block" (click)="addNewTask()" class="add-btn">
              Add to Schedule
            </ion-button>
          </div>

          <ion-list lines="none">
            @for (todo of todos; track todo.id) {
            <ion-item class="todo-item-card">
              <ion-checkbox
                slot="start"
                [checked]="todo.is_completed"
                (ionChange)="toggleTodo(todo)"
              ></ion-checkbox>
              <ion-label [class.done]="todo.is_completed">
                <h3>{{ todo.task }}</h3>
                <p>
                  <ion-icon name="time-outline"></ion-icon> {{ todo.due_at |
                  date:'short' }}
                </p>
              </ion-label>
              <ion-button
                slot="end"
                fill="clear"
                color="danger"
                (click)="deleteTodo(todo.id)"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-item>
            } @empty {
            <div class="empty-state">No tasks for today!</div>
            }
          </ion-list>
        </ion-content>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
