<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item (click)="signOut()" button="true" detail="false">
      <ion-icon slot="start" name="logout" color="danger"></ion-icon>
      <ion-label color="danger">Sign Out</ion-label>
    </ion-item>
  </ion-list>
  
  <div class="ion-text-center" style="margin-top: 20px;">
    <p style="color: #999; font-size: 0.8rem;">Spread App v1.0.0-debug</p>
  </div>
</ion-content>